*
{
    box-sizing: border-box;
    
    
}
body
{
    margin: 0px;
    background-color: black;
}
.dashboard
{
    border: solid 0.1px white;
    position: absolute;
    background-color: gray;
    height: 900px;
    width: 150px;
    color: white;
    p
    {
        font-size: 15px;
    }
}
.header
{
    position: absolute;
    border: solid 0.1px white;
    margin-left:150px;
    height: 150px;
    width: 1200px;
    background-color: gray;
}
#right
{
    padding-top: 20px;
    padding-left: 30px;   
    float:right;
    display: flex;
    gap:30px;
    margin-right: 50px;
    img
    {
        height: 50px;
        width:50px;
        border-radius: 100%;
    }
}
#left
{
    padding-top: 20px;
    padding-left: 30px;   
    float:left;
    display: flex;
    flex-direction: column;
    gap:30px;
    img
    {
        height: 50px;
        width:50px;
        border-radius: 100%;
    }
}
#search-bar
{
    border-radius: 1.625rem;
    height: 50px;
    width: 500px;
    background-color: white;
}
.title
{
    font-size: 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
}
#position
{
    margin-top: 150px;
    left: 200px;
}
#position2
{
    margin-top: 150px;
    right: 210px;
}
#position3
{
    margin-top: 590px;
    right: 270px;
}
.Container
{
    border: solid 0.6em gray;
    position: absolute;
    height: 200px;
    width: 350px;
    border-radius: 5%;
    background-color: gray;
    text-align:left;
    padding-left: 15px;
    border-left-color: rgb(172, 52, 202);
    h4
    {
        color:white;
    }
}
#first
{
    margin-top: 220px;
    margin-left: 200px;
}
#second
{
    margin-top: 220px;
    margin-left: 600px;
}
#third
{
    margin-top: 470px;
    margin-left: 200px;
}
#forth
{
    margin-top: 470px;
    margin-left: 600px;
}
#fifth
{
    margin-top: 720px;
    margin-left: 200px;
}
#sixth
{
    margin-top: 720px;
    margin-left: 600px;
}
.aside-container
{
    height: 380px;
    width: 250px;
    position: absolute;
    margin-top: 200px;
    margin-left: 1010px;
    background-color: gray;
    border-radius: 5%;
    text-align:left;
    padding:15px;
}
#annoncement
{
    margin-top: 220px;
    margin-left: 1010px;
    h4
    {
        font-size: 13px;
    }
    p
    {
        font-size: 10px;
    }
}
#people
{
    margin-top: 650px;
    margin-left: 1010px;
    padding: 30px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
img
{
    height: 75px;
    width:75px;
    border-radius: 100%;
}